/* general */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --color-light-grey: #d3d3d3;
	--color-hero:#b8d1e5;
	--color-black:#000000;
	--color-white:#ffffff;
	--color-button:#0061ff;
    --color-box-1: #a2d39b;
    --color-box-2: #61092C;
    --color-box-3: #b4d0e7;
    --color-box-4: #FE1D1D;
    --color-box-5: #F4F4F4;
    --color-box-6: #D50120;
    --color-box-7: #B4D0E6;
    --color-box-8: #0E2581;
    --color-box-9: #FED831;
}

body{
    font-family: 'Space Grotesk', sans-serif;
}

.hero{
    background-color: var(--color-hero);
}

.hero-container, .hero-title, .wrapper, .enterprise-box{
    max-width: 1200px;
    margin: 0 auto;
}

/* flex-utilities */

.flex{
    display: flex;
}

.j-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.content-center{
    align-content: center;
}

.f-wrap{
    flex-wrap: wrap;
}

.f-column{
    flex-direction: column;
}

.f-end{
    justify-content: flex-end;
}

.f-row{
    flex-direction: row;
}


/* header*/

nav{
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.nav-color{
    background-color: var(--color-white);
    box-shadow: 0 0 10px var(--color-black);
}

.left-side-header *, .right-side-header *{
    padding: 5px 5px;
}

.blue-button{
    background-color: var(--color-button);
    color: var(--color-white);

}

.blue-button.action{
        padding: 10px 10px;
        text-align: center;
}

.black-text *{
    color: var(--color-black);
}

.white-text{
    color: var(--color-white);
}

/* hero */

.hero{
    padding-top: 100px;
}

.hero-title{
    font-size: 4.5em;
    line-height: 1.2em;
    padding-right: 100px;
}

.hero-paragraph{
    text-align: left;
}

.hero-img-container{
    max-width: 70%;
    transform: translate(0, 70px);
}

.hero-img{
    width: 100%;
}

.text-box{
    width: 30%;
    padding-top: 70px;
    row-gap: 40px;
}

.fa-arrow-down{
    padding-top: 60px;
    font-size: 50px;
}

/* main */

/* payment option */

.business-options{
    column-gap: 20px;
}

.wrapper{
    padding: 150px 60px 150px 60px;
}
.business-text{
    font-size: 2.7em;
}
.payment-box{
    padding: 50px 0 30px 0;
}

.payment-option{
    padding-right: 40px;
}

/* choose your plan */

.card{
    width: calc(100% / 3 - 40px);
    border: 1px solid var(--color-light-grey);
    /* margin: 20px; */
}

.card-padding{
    padding: 10px 30px;
}

.option-header{
    text-align: center;
    border-bottom: 1px solid var(--color-light-grey);
    padding: 5px 0;
}
.plan-type{
    font-size: 1.3em;
    padding-bottom: 15px;
}

.price{
    font-size: 1em;
    font-weight: bolder;
}

.light-grey{
    color: var(--color-light-grey);
    padding-top: 5px;
}

.plan-features{
    padding: 40px 0;
}

.plan-features *{
    padding-bottom: 15px;
}

.icon{
    padding-right: 5px;
}

.buy-now{
    padding: 20px 0;
}

.buy-action{
    color: var(--color-button);
    text-decoration: underline;
}

.line{
    margin-right: 210px;
    border-bottom: 1px solid var(--color-light-grey);
    padding-bottom: 30px;
}

.best-features{
    padding: 40px 0; 
}

.best-features *{
    padding: 5px 0;
}

.features-title{
    padding-bottom: 20px;
    font-weight: bold;
    padding-left: 10px;
}

.fa-check{
    padding: 0 5px;
    color: var(--color-button);
}

.enterprise-box{
    border: 1px solid var(--color-light-grey);
    margin-top: 50px;
}

.enterprise{
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid var(--color-light-grey);
}

.padding{
    padding: 30px;
}


.setup{
    max-width: 70%;
}

.contact{
    padding: 10px 35px;
}

.setup-bis{
    max-width: 30%;
    padding-top: 10px;

}

.contact-office{
    font-weight: bold;
    padding-bottom: 50px;
}

