/* general */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {

	--color-hero:#b8d1e5;
	--color-black:#000000;
	--color-white:#ffffff;
	--color-button:#0061ff;
    --color-box-1: #a2d39b;
    --color-box-2: #61092C;
    --color-box-3: #b4d0e7;
    --color-box-4: #FE1D1D;
    --color-box-5: #F4F4F4;
    --color-box-6: #D50120;
    --color-box-7: #B4D0E6;
    --color-box-8: #0E2581;
    --color-box-9: #FED831;
}

body{
    font-family: 'Space Grotesk', sans-serif;
}

/* flex-utilities */

.flex{
    display: flex;
}

.j-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.content-center{
    align-content: center;
}

/* header*/

header{
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.nav-color{
    background-color: var(--color-white);
    box-shadow: 0 0 10px var(--color-black);
}

.left-side-header *, .right-side-header *{
    padding: 5px 5px;
}

.blue-button{
    background-color: var(--color-button);
}

.black-text *{
    color: var(--color-black);
}

.white-text{
    color: var(--color-white);
}