/* general */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --color-light-grey: #d3d3d3;
	--color-hero:#b8d1e5;
	--color-black:#000000;
	--color-white:#ffffff;
	--color-button:#0061ff;
    --color-box-1: #A2D39B;
    --color-box-2: #61092C;
    --color-box-3: #b4d0e7;
    --color-box-4: #FE1D1D;
    --color-box-5: #F4F4F4;
    --color-box-6: #D50120;
    --color-box-7: #B4D0E6;
    --color-box-8: #0E2581;
    --color-box-9: #FED831;
}

body{
    font-family: 'Space Grotesk', sans-serif;
}

.hero{
    background-color: var(--color-hero);
}

.hero-container, .hero-title, .wrapper, .enterprise-box{
    max-width: 1200px;
    margin: 0 auto;
}

.img{
    width: 100%;
}

/* flex-utilities */

.flex{
    display: flex;
}

.j-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.content-center{
    align-content: center;
}

.f-wrap{
    flex-wrap: wrap;
}

.f-column{
    flex-direction: column;
}

.f-end{
    justify-content: flex-end;
}

.f-row{
    flex-direction: row;
}

/* nav */

nav{
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.nav-color{
    background-color: var(--color-white);
    box-shadow: 0 0 10px var(--color-black);
}

.left-side-header *, .right-side-header *{
    padding: 5px 10px;
}

#inizia{
    padding: 0px 5px;
}

.blue-button{
    background-color: var(--color-button);
    color: var(--color-white);

}



.black-text *{
    color: var(--color-black);
}

.white-text{
    color: var(--color-white);
}

/* hero */

.hero{
    padding-top: 150px;
}

.hero-title{
    font-size: 4.5em;
    line-height: 1.2em;
    padding-right: 100px;
}

.hero-paragraph{
    text-align: left;
}

.blue-button.action{
    padding: 10px 10px;
    text-align: center;
}

.hero-img-container{
    max-width: 70%;
    transform: translate(0, 70px);
}

.text-box{
    max-width: 30%;
    padding-top: 70px;
    row-gap: 40px;
}

.fa-arrow-down{
    padding-top: 60px;
    font-size: 50px;
}

/* main */
.wrapper{
    padding: 150px 50px 50px 50px;
}

/* payment option */

.business-options{
    column-gap: 20px;
}

.business-text{
    font-size: 2.7em;
}
.payment-box{
    padding: 50px 0 30px 0;
}

.payment-option{
    padding-right: 40px;
}

/* choose your plan */

.card{
    width: calc(100% / 3 - 40px);
    border: 1px solid var(--color-light-grey);
}

.card-padding{
    padding: 10px 30px;
}

.option-header, .enterprise{
    text-align: center;
    border-bottom: 1px solid var(--color-light-grey);
    padding: 10px 0;
}
.plan-type{
    font-size: 1.5em;
    padding: 30px 0;
}

.price{
    font-size: 1em;
    font-weight: bolder;
}

.light-grey{
    color: var(--color-light-grey);
    padding-top: 5px;
}

.plan-features, .best-features{
    padding: 40px 0;
}

.plan-features *{
    padding-bottom: 15px;
}

.best-features *{
    padding: 5px 0;
}

.icon{
    padding-right: 5px;
}

.buy-now{
    padding: 20px 0;
}

.buy-action{
    color: var(--color-button);
    text-decoration: underline;
}

.line{
    margin-right: 210px;
    border-bottom: 1px solid var(--color-light-grey);
    padding-bottom: 30px;
}


.features-title{
    padding-bottom: 20px;
    font-weight: bold;
    padding-left: 10px;
}

.fa-check{
    padding: 0 5px;
    color: var(--color-button);
}

.enterprise-box{
    border: 1px solid var(--color-light-grey);
    margin-top: 50px;
}

.padding{
    padding: 30px;
}

.setup{
    max-width: 70%;
}

.setup-bis{
    max-width: 30%;
    padding-top: 10px;

}

.contact{
    padding: 10px 35px;
}

.contact-office{
    font-weight: bold;
    padding-bottom: 50px;
}

.plan-type.h3-team{
    padding-top: 0;
}

/* partner */

.dropbox-partner{
    margin: 150px 0;
}

.img-container{
    max-width: 60%;
}

.partner-text-box{
    max-width: 40%;
    padding: 60px;
}

.partner-button{
    margin: 30px 0;
}

.partner-button-text{
    border: 1px solid var(--color-black);
    padding: 10px;
    color: var(--color-black);
}

/* business advantages */

.section-title{
    font-size: 2.8em;
    padding-bottom: 50px;
}

.section-container{
    column-gap: 40px;
    row-gap: 40px;
}

.figure-container{
    width: 100%;
}

.business-section{
    width: calc(100% / 3 - 40px);
}

.section-h4{
    font-size: 1.5em;
    padding-top: 5px;
    padding-bottom: 25px;
}

.learn-more{
    margin: 150px 0 0 0;
}

.learn-more-h2{
    font-size: 2.5em;
    max-width: 60%;
    padding-bottom: 40px;
}

.learn-more-button{
    text-decoration: underline;
    color: var(--color-button);
}

/* affiliate names */

.affiliate-names{
    width:calc(100vw - 17px); /* 17px = size scrollbar Y */
    height: calc((100vw - 17px ) / 3);
    margin: 100px 0 50px 0;
}

.right-box, .center-box, .left-box{
    width: calc(100% / 3);
}

.box-setup{
    width: calc(100% / 2);
    height: calc(100% / 2);

}

.logo-box-hover{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
}

.logo-img{
    width: 100%;
}
.logo-box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;

}

/* box 1 */
.box-color-one, .hover-one{
    background-color: var(--color-box-1);
}

.box-color-one:hover{
    background-color: var(--color-box-1);
    filter: brightness(80%);
}
.hover-one:hover{
    background-color: var(--color-box-1);
}

/* box 2 */

